Welcome to the grocery store exercise! Before you get started, please make sure you update the .env file with the appropriate store name, store website, and tax rate! 
The only additional imports you'll need are os, operator, dotenv, and datetime
